# Xcode
DerivedData/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcs*
!Tick.xcodeproj/xcshareddata/
!Tick.xcodeproj/xcshareddata/xcschemes/
Tick.xcodeproj/xcshareddata/xcschemes/*
!Tick.xcodeproj/xcshareddata/xcschemes/TickWatch.xcscheme
!Tick.xcodeproj/xcshareddata/xcschemes/Tick.xcscheme

# SwiftPM
.build/

# macOS
.DS_Store

# Logs
*.log

# Fastlane (if you ever use it)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
